<div class="w3-sidebar w3-bar-block w3-card w3-animate-right" style="display:none;right:0;" id="rightMenu">
    <button onclick="closeRightMenu()" class="w3-bar-item w3-button w3-large">Close &times;</button>
    
    <ul class="navbar-nav">
            
            <li class="nav-item mx-auto">
                <a class="nav-link active" [routerLink]="['/home']">Home</a>
            </li>
            
            <li class="nav-item dropdown mx-auto">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">Our projects</a>
                
                <ul class="dropdown-menu">
                    <li><a href="#" class="dropdown-item">Arpon</a></li>
                    <li><a href="aronyoneer.html" class="dropdown-item">Aronyoneer</a></li>
                </ul>
            </li>
            
            <li class="nav-item mx-auto">
                <a class="nav-link" href="#">Gallery</a>
            </li>
                                
        </ul>
</div>

<div class="w3-white">
    <div class="image-fluid">
        <a href="#" class="navbar-brand">
            <span>
                &nbsp;
            </span>
        </a>
    </div>
</div>
<div class="container-fluid">
    <div class="container mt-3">
        <div class="col-sm-12">
            <div class="row">
                <div class="col-sm-6">
                    <img src="assets/images/arpon.png" width="100%">
                </div>
                <div class="col-sm-6">
                    <img id="iarw" src="assets/images/arponw.png" width="100%" />
                    <p>&nbsp;</p>
                    <p id="arp"><i>Smart architecture brimming with pleasure</i></p>
                    <p id="arw"><b>Completed on April 2016</b><br>KMC completion certificate no.<b>001/XVI/16-17</b>
                    <br> <span id="arw1">Residential cum commercial building @ Thakurpukur, Kolkata.</span></p>
                    <p>&nbsp;</p>
                    <p class="pro">Project approved by:</p>
                    <img src="assets/images/bankl.png" width="100%" />
                </div>
            </div>
        </div>
    </div>
    
    <div class="container mt-5">
        <div class="col-sm-12">
            <div class="row">
                <div class="col-sm-12">
                    <p id="clnttalk">Clients Talk</p>
                </div>
                
            </div>	
        </div>	
    </div>

</div>