<button mat-mini-fab color="warn" aria-label="Example icon button with a filter list icon" (click)="onNoClick()" style="float:left;">
  <i class="fas fa-long-arrow-alt-left"></i>
</button>
<h1 mat-dialog-title style="text-align: center;">Enter your details</h1>
<form [formGroup]="insertForm" (ngSubmit)="onSubmit()">
  <div mat-dialog-content>
    <mat-form-field style="width:100%;">
      <mat-label>Name</mat-label>
     
      <input matInput  formControlName="nameFormControl" maxlength="50" cdkFocusInitial>
      <mat-hint align="end">{{nameFormControl.value.length}} / 50</mat-hint>
      <mat-error *ngIf="nameFormControl.hasError('required')">
        User name <strong>required</strong>
      </mat-error>
    </mat-form-field>
    <mat-form-field style="width:100%;">
      <mat-label>Phone</mat-label>
     
      <input matInput formControlName="phoneFormControl" maxlength="10">
      <mat-hint align="end">{{phoneFormControl.value.length}} / 10</mat-hint>
      <mat-error *ngIf="phoneFormControl.hasError('required')">
        Phone number <strong>required</strong>
      </mat-error>
      <mat-error *ngIf="phoneFormControl.hasError('pattern')">
        Enter valid <strong>phone number</strong>
      </mat-error>
      <mat-error *ngIf="phoneFormControl.hasError('minLength')">
        Enter 10 digit <strong>phone number</strong>
      </mat-error>
    </mat-form-field>
    <mat-form-field style="width:100%;">
      <mat-label>Email</mat-label>
      
      <input matInput formControlName="emailFormControl">
      <mat-hint align="end">{{emailFormControl.value.length}} / 350</mat-hint>
      <mat-error *ngIf="emailFormControl.hasError('required')">
        Email <strong>required</strong>
      </mat-error>
      <mat-error *ngIf="emailFormControl.hasError('email')">
        Enter valid <strong>email</strong>
      </mat-error>
    </mat-form-field>
  </div>
  <div mat-dialog-actions>
    <button type="submit" [disabled]="insertForm.invalid" mat-raised-button style="margin-top: 20px;
    margin-bottom: 30px;
    width: 100%;
    margin-left: 40px;
    margin-right: 40px;
    color: green;" >Ok</button>
    <!-- Ok</button> -->
  </div>
</form>

