

<!-- <div class="w3-white">
    <div class="image-fluid text-center">
        <span style="font-size:30px;cursor:pointer;float:right;position: relative;top:15px;right:10px;" onclick="openNav()">&#9776;</span>
        <a href="#" class="navbar-brand h-100">
            <span>
                <img src="assets/images/logo.png" height="100%" />
            </span>
        </a>
    </div>
</div> -->
<div class="image-fluid">
<img src="assets/images/banner_img.jpg" alt="banner_img" width="100%">
</div>
<p>&nbsp;</p>
<div class="container mt-5">
    <div class="col-sm-12">
        <div class="row">
            <div class="col-sm-2">
                &nbsp;
            </div>
            <div class="col-sm-4" id="abc_a">
                <img src="assets/images/border.png" width="100%">
                <a [routerLink]="['/arpon']" id="arpon"><b>Arpon</b></a>
                <div>
                    <p class="on">&nbsp;
                 <span class="loc"> Completed, Kolkata </span></p>
                </div>
            </div>
            <div class="col-sm-4" id="abc_b">
                <img src="assets/images/border.png" width="100%">
                <a [routerLink]="['/aronyoneer']" id="aronyoneer"><b>Aronyoneer</b></a>
                <div>
                    <p class="on"><b>On-going,</b>
                 <span class="loc"> Bolpur, Shantiniketan </span></p>
                </div>
            </div>
            <div class="col-sm-2">
                &nbsp;
            </div>
        </div>	
    </div>	
</div>
            
<div class="container mt-5">
<div class="col-sm-12">
    <div class="row">
        <div class="col-sm-1">
            &nbsp;
        </div>
        <div class="col-sm-10" id="abc_c">
            <img src="assets/images/abt_bg.jpg" width="100%">
        
            <div class="about_us"  >
                <h3 class="abtus">About Us</h3>
                <p class="abtus1">Trikal is primarily a realty focused entity designed to tap the niche affordable housing segment in urban and sub-urban areas. </p>
                <p class="abtus2">It has been structured through a balanced amalgamation of intellect and signature design sensibilities with emphasis on environment and ecology. The leadership team possesses excellent domain expertise and is committed to ensure responsiveness, transparency, cost effectiveness and quality consciousness at its every level of  operation.</p>
            </div>
        </div>	
        <div class="col-sm-1">
            &nbsp;
        </div>
    </div>	
</div>	
</div>
    
<div class="container mt-5">
<div class="col-sm-12">
    <div class="row">
        <div class="col-sm-12">
            <p id="clnttalk">Clients Talk</p>
        </div>
        
    </div>	
</div>	
</div>