.rating-container{
    color: white;
    /* background-color: green; */
    /* padding: 6px; */
    border-radius: 5px;
    float: left;
    margin-right: 10px;
    padding-left: 6px;
    padding-right: 6px;
    padding-top: 3px;
    padding-bottom: 3px;
}

.rating-container span{
    margin-right: 10px;
    margin-left: 6px;
}

.review-title{
    font-weight: bolder;
    /* margin-left: 10px; */
}

.review{
    font-size: 0.9rem;
}

.review-info{
    font-size: 0.8rem;
    color:#665f5f;
}

.dt-style{
    margin-left: 10px;
}