<div class="container min-ht">
    <div class="row mt-4">
        <div class="col-12">
            <h1>Admin Manual Booking </h1>
        </div>
    </div>
    <div class="row mb-4">      
          <mat-card class="m-card w-100 mb-4">
            <mat-card-content>
                <div class="row">
                    <div class="col-md-5"></div>
                    <div class="col-md-7">
                        <div class="row">
                            <div class="col-6 col-sm-4 text-center border-left border-secondary" [formGroup]="dategroup">
                                
                                <mat-form-field class="example-full-width d-none" appearance="fill">
                                    <mat-label>Choose a date</mat-label>
                                    <input matInput [matDatepicker]="picker" [min]="checkinDate"
                                    formControlName="checkin">
                                    <mat-datepicker touchUi #picker color="warn"></mat-datepicker>
                                  </mat-form-field>
  
  
                                
                                <div class="my-2 cursor-pointer" *ngIf="showCheckinDate==null" (click)="picker.open()">
                                    <mat-card-subtitle>
                                        <i class="fas fa-calendar-alt font-icon"></i>
                                        </mat-card-subtitle>
                                    <mat-card-title>Check in</mat-card-title>
                                    
                                </div>
                                <div class="my-2 cursor-pointer" *ngIf="showCheckinDate" (click)="picker.open()">
                                    <mat-card-subtitle>Check in</mat-card-subtitle>
                                    <mat-card-title>{{checkinDateDisplay |date:'MMM d, y, h:mm a'}}</mat-card-title>
                                    
                                </div>
                            </div>
                            <div class="col-6 col-sm-4 text-center border-left border-secondary" [formGroup]="dategroup">
                                
                                
                                <mat-form-field class="example-full-width d-none" appearance="fill">
                                    <mat-label>Choose a date</mat-label>
                                    <input matInput [matDatepicker]="picker2" [min]="checkoutDate"
                                    formControlName="checkout">
                                    <mat-datepicker touchUi #picker2 color="warn"></mat-datepicker>
                                  </mat-form-field>
                                
                                
                                <div class="my-2 cursor-pointer" *ngIf="showCheckoutDate==null" (click)="picker2.open()">
                                    <mat-card-subtitle>
                                        <i class="fas fa-calendar-alt font-icon"></i>
                                        </mat-card-subtitle>
                                    <mat-card-title>Check out</mat-card-title>
                                </div>
                                <div class="my-2 cursor-pointer" *ngIf="showCheckoutDate" (click)="picker2.open()">
                                    <mat-card-subtitle>Check out</mat-card-subtitle>
                                    <mat-card-title>{{checkoutDateDisplay |date:'MMM d, y, h:mm a'}}</mat-card-title>
                                </div>
                            </div>
                            <div class="col-12 col-sm-4 text-center border-left border-success">
                                <div class="my-2 cursor-pointer" (click)="checkAvailibility()">
                                    <p><mat-card-title class="check-availability-card text-success" [ngClass]='{"text-success":(showCheckinDate!=null && showCheckoutDate!=null),"text-secondary":(showCheckinDate!=null || showCheckoutDate!=null)}'>Check Availability</mat-card-title></p>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </mat-card-content>
        </mat-card>



          <div class="col-md-12">
            <mat-card class="example-card  my-4" *ngIf="isLoadingData">
              <div>
                <div class="d-flex align-items-center">
                    <strong>Checking availability...</strong>
                    <div class="spinner-border text-success ml-auto" role="status" aria-hidden="true"></div>
                  </div>
            </div>
            </mat-card>
            <mat-card class="example-card  my-4" *ngIf="dataLoaded==true && roomDetails.length==0">
                <div>
                  <div class="d-flex align-items-center">
                      <strong>All rooms seems got booked. For additional room booking contact Janani Greens</strong>
                      <div class="spinner-border text-success ml-auto" role="status" aria-hidden="true"></div>
                    </div>
              </div>
              </mat-card>
          </div>
          <div class="col-md-12">
            <mat-card class="example-card  my-4" *ngIf="checkavailabilityerror">
              <div>
                <div class="d-flex align-items-center">
                    <strong class="text-warning">Unable to check room availability. Try again ...</strong>
                  </div>
            </div>
            </mat-card>
          </div>
    </div>
    <div class="row my-4 pl-3" *ngIf="roomDetails.length>0">
        <h2 class="mr-2">{{isSuccess==1?'Booking done for':'Showing availability for'}}</h2><p class="mt-1"> {{displayCheckinDate |date:'MMM d, y, h:mm a'}} to {{displayCheckoutDate |date:'MMM d, y, h:mm a'}} </p>
    </div>
    <div *ngIf="isSuccess==0">
        <div class="row my-4" *ngIf="roomDetails.length>0">
            <div class="col-md-8">
                <div class="card mb-3" *ngFor="let room of roomDetails;index as i" [hidden]="i>pageUpperLimit || i<pageLowerLimit">
                    <div class="card-body" style="background: #f7ead9;">
                      <div class="row">
                          <div class="col-sm-4 cont" >
                              <img class="w-100 h-100" src="{{room.imageList[0]}}" (click)="showGallery(i)" style="cursor:pointer;">
                              <button mat-mini-fab color="accent" aria-label="Image count" (click)="showGallery(i)" style="position: absolute;
                              bottom: 3px;
                              right: 20px;">
                                <span>+{{room.imageList.length - 1}}</span>
                              </button>
                            </div>
                          <div class="col-sm-8">
                            <div class="row">
                                <div class="col-sm-12">
                                    <h2>Stay at {{room.name}} @ Rs {{room.ratePerDay}} per night</h2>
                                </div>
                              
                                <div class="col-sm-8">
                                    <div class="d-flex flex-row flex-wrap">
                                        <label class="w-50" *ngFor="let item of room.features">
                                            <span style='font-size:10px; margin-right: 4px;'>&#9679;</span> {{item}}
                                        </label>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <mat-checkbox class="example-margin ml-2" color="warn" [(ngModel)]="room.isSelected" (change)="roomSelection(i,room.roomId,room.isSelected)">Select</mat-checkbox>
                                    <mat-checkbox class="example-margin ml-2" color="warn" [disabled]="!room.isACAvailable" [(ngModel)]="room.isAvailingAc" (change)="acSelection(i,room.roomId,room.isAvailingAc)">Avail AC</mat-checkbox>
                                    <mat-form-field class="example-margin w-100 ml-1" style="margin-top:-8px;" color="warn">
                                        <mat-label>No. of person</mat-label>
                                        <input matInput type="number" [max]="room.maxNoOfPersons" [min]="1" [(ngModel)]="room.numberOfPersons">
                                      </mat-form-field>
                                </div>
                            </div>
                          </div>
                      </div>
                    </div>
                </div>
                <div class="row my-4">
                    <div class="col-sm-12 text-right">
                      <mat-paginator [length]="length"
                      [pageSize]="pageSize"
                      
                      (page)="onPageFired($event)">
                      </mat-paginator>
                    </div>
                  </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <div class="card-header text-white text-center" style="background: #e38b15;">
                      Your Selection Details
                    </div>
                    <div class="card-body">
                      <!-- <h5 class="card-title">Special title treatment</h5>
                      <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                      <a href="#" class="btn btn-primary">Go somewhere</a> -->
                      <div class="text-center">
                          <span class="d-block">Check in :{{displayCheckinDate |date:'MMM d, y, h:mm a'}}</span>
                          <span class="d-block">Check out :{{displayCheckoutDate |date:'MMM d, y, h:mm a'}}</span>
                          <br>
                          <span><strong>Room Selected</strong></span>
                          <hr>
                      </div>
                      <div>
                       
                        <div class="row">
                            <table class="table table-borderless">
                                <tbody>
                                    <tr *ngFor="let room of roomSelected">
                                        
                                        <td>{{room.name}}</td>
                                        <td>1</td>
                                        <td class="text-right">{{room.charges}} *</td>
                                      </tr>
    
                                      <tr *ngIf="roomSelected.length>0">
                                        
                                        <td>Extra Person</td>
                                        <td>0</td>
                                        <td class="text-right">0 *</td>
                                      </tr>
                                     
                                </tbody>
                            </table>
                            
                        </div>
                        <hr>
                        <div>
                            <table class="table table-borderless">
                                <tbody>
                                    <tr>
                                        <th>Grand Total</th>
                                        <th class="text-right">
                                            <span *ngIf='totalCharges==0'>0</span>
                                            <span *ngIf='totalCharges>0'>{{totalCharges}} x {{totalNumberOfDays}} = {{totalCharges*totalNumberOfDays}}</span>
                                        </th>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="row text-center">
                            <span class="d-block">To continue, read and agree to the Terms and Conditions and Privacy Policy</span>
                            <button mat-raised-button class="border border-success w-100 mx-5 my-5 text-success" [disabled]="totalCharges==0" (click)="openDialog()">
                              
                              {{isRequestInProcess?'Booking room(s) ...': 'Book'}}
                                    <span *ngIf="isRequestInProcess" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                            </button>
                            <div class="text-center">
                                <span class="d-block">
                                    Taxes extra as applicable *
                                </span>
                                <span class="d-block">
                                    Above rates are on room sharing basis.
                                </span>
                                <span class="d-block">
                                    Check in/ Check out time :1:00 PM and 11:00 AM
                                </span>
                            </div>
    
                        </div>
                      </div>
                    </div>
                  </div>
            </div>
        </div>
    </div>
    <div *ngIf="isSuccess==1">
        
        <div>
            <mat-card >
                <mat-card-header>
                    <mat-card-title>
                        <h1 class="text-success">Room booking done for {{name}}</h1>
                    </mat-card-title>
                    <hr>
                </mat-card-header>
                <mat-card-content>
                    <h3 class="ml-2">You have successfully completed the Room booking process for Janani Greens.The record can be seen and furthur operations can be done on the <span class="text-primary" role="button" (click)="navigateToChild()">Current Booking Section</span>.</h3>
                </mat-card-content>
            </mat-card>
          </div>
    </div>
    
</div>
