<div class="container min-ht">
    <div class="row">
        <mat-card class="m-card w-100 my-4">
            <mat-card-content>
                <div class="row">
                    <div class="col-md-5"></div>
                    <div class="col-md-7">
                        <div class="row">
                            <div class="col-6 col-sm-4 text-center border-left border-secondary">
                                <div class="my-2">
                                    <mat-card-subtitle>Check in</mat-card-subtitle>
                                    <mat-card-title>4th Dec 2020</mat-card-title>
                                    
                                </div>
                            </div>
                            <div class="col-6 col-sm-4 text-center border-left border-secondary">
                                <div class="my-2">
                                    <mat-card-subtitle>Check out</mat-card-subtitle>
                                    <mat-card-title>6th Dec 2020</mat-card-title>
                                </div>
                            </div>
                            <div class="col-12 col-sm-4 text-center border-left border-success">
                                <div class="my-2">
                                    <p><mat-card-title class="check-availability-card text-success">Check Availability</mat-card-title></p>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </mat-card-content>
        </mat-card>
    </div>
    <div class="my-4">

    </div>
    <div class="row">
        <mat-card class="m-card w-100 my-4">
            <mat-card-content>
                <div class="row">
                    <div class="col-md-5"></div>
                    <div class="col-md-7">
                        <div class="row">
                            <div class="col-6 col-sm-4 text-center border-left border-secondary">
                                <div class="my-2">
                                    <mat-card-subtitle>
                                        <i class="fas fa-calendar-alt font-icon"></i>
                                        </mat-card-subtitle>
                                    <mat-card-title>Check in</mat-card-title>
                                    
                                </div>
                            </div>
                            <div class="col-6 col-sm-4 text-center border-left border-secondary">
                                <div class="my-2">
                                    <mat-card-subtitle>
                                        <i class="fas fa-calendar-alt font-icon"></i>
                                        </mat-card-subtitle>
                                    <mat-card-title>Check out</mat-card-title>
                                </div>
                            </div>
                            <div class="col-12 col-sm-4 text-center border-left border-success">
                                <div class="my-2">
                                    <p><mat-card-title class="check-availability-card text-secondary">Check Availability</mat-card-title></p>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </mat-card-content>
        </mat-card>
    </div>
</div>
